html, body {
    background-color: $bg-primary;
    font-size: 14px;
    color: $tc-primary;
}

a {
    color: $tc-primary;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}